body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(242, 242, 242);
}

#header {
    height: 10px;
    background-color: rgb(20, 22, 30);
    background-size: 100%;
    margin: 0;
}

.container {
    margin: 0;
}

#header-text {
    font-size: 50;
    text-align: center;
}

.content {
    text-align: center;
}
